:root {
  --font-bold: "Ubuntu Bold", sans-serif;
  --font-medium: "Ubuntu Medium", sans-serif;
  --font-regular: "Ubuntu Regular", sans-serif;

  --text-color-dark: rgb(2, 41, 90);
  --purplish-blue: rgb(71, 61, 255);
  --pastel-blue: rgb(173, 190, 255);
  --light-blue: rgb(191, 226, 253);

  --cool-gray: rgb(150, 153, 171);
  --light-gray: rgb(214, 217, 230);
  --magnolia: rgb(240, 246, 255);
  --alabaster: rgb(250, 251, 255);
  --white: rgb(255, 255, 255);

  --error: hsl(354, 84%, 57%);

  --border-radius: 10px;
  --box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.06);
}
